<div class="row">

    <div class="col-md-12">
        <div class="alert alert-danger" *ngIf="this.is_ready &&  this.UserRegister.invalid">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Existen algunos campos que son obligatorios</strong>
        </div>
        <div class="alert alert-success" *ngIf="this.is_succes">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Se guardó correctamente</strong>
        </div>
        <form  [formGroup]="UserRegister" (ngSubmit)="validar_registro_usuario()" novalidate>
            <div class="row">
                <div class="form-group col-md-12">
                    <label for="nombre" class="col-form-label">Nombre</label>
                    <input type="text"
                           class="form-control"
                           [ngClass]="{error:  mostrar_errors('nombre',is_ready)}"
                           formControlName="nombre"
                           placeholder="Nombre">
                </div>
                <div class="form-group col-md-6 col-xs-12 col-lg-6">
                    <label for="apellidop" class="col-form-label">Apellido Paterno</label>
                    <input type="text" class="form-control"
                           [ngClass]="{error:  mostrar_errors('apellidop',is_ready)}"
                           id="apellidop"

                           formControlName="apellidop"
                           required
                           placeholder="Apellido Paterno">
                </div>

                <div class="form-group col-md-6 col-xs-12 col-lg-6">
                    <label for="apellidom" class="col-form-label">Apellido Materno</label>
                    <input type="text"
                           class="form-control"
                           [ngClass]="{error:  mostrar_errors('apellidom',is_ready)}"
                           formControlName="apellidom"
                           placeholder="Apellido Materno">
                </div>
            </div>

            <div class="row">

                <div class="col-md-12 mb-12">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email"
                           required
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                           [ngClass]="{error:  mostrar_errors('email',is_ready)}"
                           formControlName="email"
                           placeholder="ejemplo@ejemplo.com">
                </div>
                <div class="col-md-6 mb-4">
                    <label for="form1-password">Password</label>
                    <input type="password"
                           class="form-control"
                           id="form1-password"
                           [ngClass]="{error:  mostrar_errors('password',is_ready)}"
                           formControlName="password"
                           placeholder="Password"
                           required
                           minlength="5"
                    >
                </div>
                <div class="col-md-6 mb-4">
                    <label for="form1-password">Repetir Password</label>
                    <input type="password"
                           class="form-control"
                           [ngClass]="{error:  mostrar_errors('password2',is_ready)}"
                           id="form1-password2"
                           formControlName="password2"
                           placeholder="Password"
                           required
                           minlength="5"
                    >
                </div>
                <div class="col-md-12 mb-12">
                    <label for="form1-state">Estado</label>
                    <select class="custom-select d-block col-md-8" id="form1-state"
                            [ngClass]="{error:  mostrar_errors('id_estado',is_ready)}"
                            formControlName="id_estado"
                            required>
                        <option value="">Seleccione una opción</option>
                        <option *ngFor="let estado_index of this.estados"
                                value="{{estado_index._id}}">{{estado_index.estado}}
                        </option>

                    </select>
                </div>
            </div>
            <div class="row">

                <div class="col-md-8 mb-8 "  >

                    <label class="custom-control custom-checkbox d-block my-4"  [ngClass]="{error:  mostrar_errors('confirmacion',is_ready)}">
                        <input type="checkbox"
                               class="forn-control"

                               formControlName="confirmacion">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Confirmo</span>
                    </label>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-12">
                    <button type="submit"
                            class="btn btn-outline-success">Registrar
                    </button>
                    <a  [routerLink]="['/login']"
                            class="btn btn-outline-info">Ingresar</a>
                </div>
            </div>

        </form>

    </div>
</div>